*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.perfil {
    display: flex;
    background-color: rgb(131, 157, 243);
    padding: 1%;
    align-items: left;
    justify-content: left;
    height: 50vh;
}

.perfil_datos{
    margin-top: 2%;
    padding-left: 5%;
    font-size: 30px;
}

.perfil_foto{
    border-radius: 50%;
    width: 20%;
    height: 75%;
    object-fit: cover;
}

.perfil_linea_vertical{
    border-left: 2px solid white;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0.5%;
}

.perfil_linea_vertical2{
    border-left: 2px solid white;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 68%;
}

.perfil_info_titulo{
    position: absolute;
    left: 65%;
    top: 1%;
}

.perfil_info{
    font-size: 20px;
    position: absolute;
    left: 55%;
    top: -6%;
    margin-top: 8%;
    padding-left: 1%;
    line-height: 375%;
}

.perfil_info_simbolos{
    position: absolute;
    left: 53%;
    top: 21.2%;
}

.acerca{
    font-size: 20px;
    padding-right: 55%;
    padding-left: 5px;
}

.acerca_fondo{
    display: flex;
    background-color: rgb(175, 119, 36);
    padding: 1%;
    align-items: left;
    justify-content: left;
    height: 50vh;
}

.titulos {
    font-size: 5px;
    color: white;
    background-color: rgb(111, 56, 148);
    width: 98.5%;
    text-align: center;
    padding: 0.5%;
    padding-right: 1%;
    font-size: 2em;
}

.estudios{
    position: absolute;
    font-size: 30px;
    left: 70%;
    top: 65%;
}

.estudios_info{
    position: absolute;
    font-size: 26px;
    left: 55%;
    top: 72%;
}

.barra_nav{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 20px;
}

.conocimientos_fondo{
    background-color: rgb(112, 146, 190);
    display: flex;
    padding: 1%;
    align-items: left;
    justify-content: left;
    height: 40vh;
}

.titulo_conocimientos {
    font-size: 5px;
    color: white;
    background-color: rgb(111, 56, 148);
    width: 365%;
    text-align: center;
    padding: 3%;
    padding-right: 15%;
    font-size: 2em;
}

.conocimientos_imagen{
        margin-top: 7%;
        width: 50%;
        height: 55%;
}

.proyectos_fondo{
    display: flex;
    background-color: rgb(197, 94, 68);
    padding: 1%;
    height: 235vh;
}

.proyectos_titulo{
    font-size: 5px;
    color: white;
    background-color: rgb(111, 56, 148);
    width: 142%;
    text-align: center;
    padding: 1%;
    padding-right: 1%;
    font-size: 2em;
}

.proyectos{
    font-size: 20px;
    text-align: left;
}

.proyectos_img{
    border-radius: 20%;
}

